@model List<MCQInterviews.Models.ViewModels.QuestionViewModel>
@{
}

<div class="container py-3">
    <div class="card mt-2">
        <div class="card-header">
            <h5 class="text-primary text-primary text-center">List of Existing Questions</h5>
        </div>
        <div class="card-body">
            <div class="row m-3">
                <div class="form-group col-4">
                    @Html.Label("MCQ", "MCQ Name")
                    @Html.TextBox("MCQ", (string)ViewBag.McqName, new {  @class = "form-control", @type = "text", @readonly = "readonly" })
                </div>
                <div class="form-group col-4">
                    @Html.Label("Job Title", "Job Title")
                    @Html.TextBox("Job Title", (string)ViewBag.JobTitleName, new {  @class = "form-control", @type = "text", @readonly = "readonly" })
                </div>
                <div class="form-group col-2">
                    @Html.Label("Difficulty Type", "Difficulty Type")
                    @Html.TextBox("Difficulty Type", (string)ViewBag.McqDiffTypeName, new {  @class = "form-control", @type = "text", @readonly = "readonly" })
                </div>
            </div>

                @if (TempData["errorMsg"] != null)
                {
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle"></i>
                        @TempData["errorMsg"]
                    </div>
                }



            <form asp-controller="McqQuestion" asp-action="SaveSelectedQuestions" method="post">
            @if (Model != null && Model.Any())
            {
                <input type="hidden" name="mcqId" value="@ViewBag.McqId" />
                <input type="hidden" name="jobTitleId" value="@ViewBag.JobTitleId" />
                <input type="hidden" name="jobLevelId" value="@ViewBag.JobLevelId" />
                <input type="hidden" name="mcqDiffTypeId" value="@ViewBag.McqDiffTypeId" />
    
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                            <th>Question </th>
                            <th>Difficulty Type </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var question in Model)
                        {
                            <tr>
                                <td class="counter"></td>
                                <td>@question.Text</td>
                                <td>@question.DifficultyTypeName</td>
                                <td><input type="checkbox" name="selectedQuestionIds" value="@question.Id" /></td>
                    
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <p> No Questions Found</p>
            }
                    <div class="row form-group d-flex align-items-center mt-3">
                        <button type="submit" class="btn btn-primary col-6"><i class="fade fa-save"></i> Save Selected Questions</button>
                    </div>
            </form>
        </div>
    </div>
</div>




<script>
    window.onload = function () {
        var counterCells = document.querySelectorAll('.counter');
        for (var i = 0; i < counterCells.length; i++) {
            counterCells[i].innerText = i + 1;
        }
    };
</script>
