@model IEnumerable<MCQInterviews.Models.ViewModels.AchievedTestViewModel>
@{
}

<div class="container py-3">
    @if (TempData["SuccessMsg"] != null)
    {
        <div class="alert alert-success">
            <i class="fa fa-check-circle"></i>
            @TempData["SuccessMsg"]
        </div>
    }

    <div class="card mt-2">
        <div class="card-header">
            <h5 class="text-primary text-primary text-center"> Tests Taken</h5>
        </div>
        <div class="card-body">
            @if (Model != null && Model.Any())
            {
                <table class="table" id="archivedTestsTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>MCQ Name</th>
                            <th>Job Title </th>
                            <th>Job Level</th>
                            <th>Score</th>
                            <th>Taken on</th>
                            <th>Performance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var test in Model)
                        {
                            <tr>
                                <td class="counter"></td>
                                <td>@test.MCQName</td>
                                <td>@test.JobTitleName</td>
                                <td>@test.JobLevelName</td>
                                <td>@test.Score%</td>
                                <td>@test.DateTaken</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @test.Score%;" aria-valuenow="@test.Score" aria-valuemin="0" aria-valuemax="100">@test.Score%</div>
                                    </div>
                                </td>
                               
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <div class=" text-danger"><i class="fa fa-exclamation-triangle"></i> No Tests Taken Yet</div>
            }
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        var counterCells = document.querySelectorAll('.counter');
        for (var i = 0; i < counterCells.length; i++) {
            counterCells[i].innerText = i + 1;
        }
    };
</script>


