@model MCQInterviews.Models.ViewModels.AdminDashboardViewModel


<div class="container py-2 ">
	@if (TempData["successMsg"] != null)
	{
		<div class="alert alert-success">
			<i class="fa fa-check-circle"></i>
			@TempData["successMsg"]
		</div>
	}
	@if (TempData["errorMsg"] != null)
	{
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-triangle"></i>
			@TempData["errorMsg"]
		</div>
	}
	<div class="card mt-2">
		<div class="card-header">
			<h5 class="text-primary text-primary text-center">Admin Dashboard</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-3 mb-2">
					<div class="card bluejeans-color text-white">
						<div class="card-body d-flex align-items-center justify-content-between">
							<div>
								<h5 class="card-title text-end">Total Users</h5>
								<h1 class="card-text text-end">@Model.TotalUsers</h1>
							</div>
							<i class="fa fa-users fa-3x"></i>
						</div>
					</div>
				</div>

				<div class="col-md-3 mb-2">
					<div class="card grass-color  text-white">
						<div class="card-body d-flex align-items-center justify-content-between">
							<div>
								<h5 class="card-title text-end">Job Categories</h5>
								<h1 class="card-text text-end">@Model.TotalJobCategories</h1>
							</div>
							<i class="fa fa-list-alt fa-3x"></i>
						</div>
					</div>
				</div>

				<div class="col-md-3 mb-2">
					<div class="card mint-color  text-white">
						<div class="card-body d-flex align-items-center justify-content-between">
							<div>
								<h5 class="card-title text-end">Job Titles</h5>
								<h1 class="card-text text-end">@Model.TotalJobTitles</h1>
							</div>
							<i class="fa fa-clipboard fa-3x"></i>
						</div>
					</div>
				</div>

				<div class="col-md-3 mb-2">
					<div class="card grapefruit-color text-white ">
						<div class="card-body d-flex align-items-center justify-content-between">
							<div class="text-white">
								<h5 class="card-title text-end">Job Levels</h5>
								<h1 class="card-text text-end">@Model.TotalJobLevels</h1>
							</div>

							<i class="fa fa-layer-group fa-3x"></i>

						</div>
					</div>
				</div>

				<div class="col-md-3 mb-2">
					<div class="card aqua-color text-white ">
						<div class="card-body d-flex align-items-center justify-content-between">
							<div class="text-white">
								<h5 class="card-title text-end">MCQ Tests</h5>
								<h1 class="card-text text-end">@Model.TotalMCQTests</h1>
							</div>
							<i class="fa fa-list-ol fa-3x"></i>
						</div>
					</div>
				</div>

				<div class="col-md-3 mb-2">
					<div class="card lavender-color text-white  ">
						<div class="card-body d-flex align-items-center justify-content-between">
							<div class="text-white">
								<h5 class="card-title text-end">Total Questions</h5>
								<h1 class="card-text text-end">@Model.TotalQuestions</h1>
							</div>
							<i class="fa fa-question fa-3x"></i>
						</div>
					</div>
				</div>

				<div class="col-md-3 mb-2">
					<div class="card dark-color text-white  ">
						<div class="card-body d-flex align-items-center justify-content-between">
							<div class="text-white">
								<h5 class="card-title text-end">Passed Tests</h5>
								<h1 class="card-text text-end">@Model.TotalTestPassed</h1>
							</div>
							<i class="fa fa-check fa-3x"></i>
						</div>
					</div>
				</div>
				<div class="col-md-3 mb-2">
					<div class="card pinkrose-color text-white ">
						<div class="card-body d-flex align-items-center justify-content-between">
							<div class="text-white">
								<h5 class="card-title text-end">Difficulty Levels</h5>
								<h1 class="card-text text-end">@Model.TotalDiffTypes</h1>
							</div>
							<i class="fas fa-sort-amount-up-alt fa-3x"></i>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- User Management -->

		<div class="card m-2">
			<div class="card-header bluejeans-color text-white align-items-center">
				<div class="row">
					<div class="col">
						<h5>User Management</h5>
					</div>
					<div class="col text-end">
						<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-xs btn-success"><i class="fa fa-user-plus"></i> Create New User</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<table class="table" id="adminDashUsersTable">
					<thead>
						<tr>
							<th>Full Name</th>
							<th>Email</th>
							<th>Registred on</th>
							<th>Country</th>
							<th>Status</th>
							<th>Last Login</th>
							<th>Logins</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var userViewModel in Model.Users)
						{
							<tr>
								<td>@($"{userViewModel.User.FirstName} {userViewModel.User.LastName}")</td>
								<td>@userViewModel.User.Email</td>
								<td>@userViewModel.User.RegistrationDate.ToShortDateString()</td>
								<td>@userViewModel.User.Country</td>
								<td>@(userViewModel.User.IsActive == 1 ? "Active" : "Inactive")</td>
								<td>@(userViewModel.User.LastLoginDate.HasValue ? userViewModel.User.LastLoginDate.Value.ToShortDateString() : "N/A")</td>
								<td>@userViewModel.NumberOfLogins</td>
								<td>
									<a href="@Url.Action("UserDashboard", "UserDashboard", new { userId = userViewModel.User.Id })" class="btn btn-xs btn-primary">User Dashboard</a>
									@{
										var action = userViewModel.User.IsActive == 1 ? "DeactivateUser" : "ActivateUser";
										var buttonCaption = userViewModel.User.IsActive == 1 ? "Deactivate" : "Activate";
										var buttonClass = userViewModel.User.IsActive == 1 ? "btn-danger" : "btn-success";
										var iconClass = userViewModel.User.IsActive == 1 ? "fa-toggle-on" : "fa-toggle-off";
									}
									<form asp-controller="AdminDashboard" asp-action="@action" method="post" style="display: inline-block; margin-left: 5px;">
										<input type="hidden" name="userId" value="@userViewModel.User.Id" />
										<button type="submit" class="btn btn-xs @buttonClass">
											<i class="fas @iconClass"></i> @buttonCaption
										</button>
									</form>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-6 ">
				<!-- Job Category Management Section -->
				<div class="card m-2">
					<div class="card-header bluejeans-color text-white align-items-center">
						<div class="row">
							<div class="col-8">
								<h5>Job Categories Management</h5>
							</div>
							<div class="col-4 text-end ">
								<div class="dropdown ms-auto btn btn-sm btn-default text-white">
									Actions <i class="fa fa-ellipsis-v mx-3" data-bs-toggle="dropdown" aria-expanded="false"></i>
									<ul class="dropdown-menu">
										<li>
											<a href="@Url.Action("Add", "Theme")" class="dropdown-item">
												<i class="fa fa-plus mx-2"></i> New Job Category
											</a>
										</li>
										<li>
											<a href="@Url.Action("List", "Theme")" class="dropdown-item">
												<i class="fa fa-list mx-2"></i> List of Job Categories
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<table class="table small" id="adminDashJobCategoriesTable">
							<thead>
								<tr>
									<th>Category Name</th>
									<th width="15%">Job Titles</th>
									<th width="15%">MCQ Tests</th>
									<th width="15%">Passed Tests </th>
								</tr>
							</thead>
							<tbody>
								@foreach (var jobCategory in Model.JobCategories)
								{
									<tr>
										<td>@jobCategory.Name</td>
										<td>@jobCategory.TotalJobTitles</td>
										<td>@jobCategory.TotalMCQTests</td>
										<td>@jobCategory.TotalTestsPassed</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<!-- Job Level Management -->
				<div class="card m-2">
					<div class="card-header bluejeans-color text-white align-items-center">
						<div class="row">
							<div class="col-8">
								<h5>Job Level Management</h5>
							</div>
							<div class="col-4 text-end">
								<div class="dropdown ms-auto btn btn-sm btn-default text-white">
									Actions <i class="fa fa-ellipsis-v mx-3" data-bs-toggle="dropdown" aria-expanded="false"></i>
									<ul class="dropdown-menu">
										<li>
											<a href="@Url.Action("Add", "JobLevel")" class="dropdown-item">
												<i class="fa fa-plus mx-2"></i> New Job Level
											</a>
										</li>
										<li>
											<a href="@Url.Action("List", "JobLevel")" class="dropdown-item">
												<i class="fa fa-list mx-2"></i> List of Job Levels
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<table class="table small" id="adminDashJobLevelsTable">
							<thead>
								<tr>
									<th width="5%">#</th>
									<th>Job Level</th>
									<th width="25%">Actions </th>
								</tr>
							</thead>
							<tbody>
								@foreach (var jobLevel in Model.JobLevels)
								{
									<tr>
										<td class="counter"></td>
										<td>@jobLevel.Name</td>
										<td>
											<form asp-controller="JobLevel" asp-action="Delete" asp-route-id="@jobLevel.Id" method="post">
												<a asp-area=""
												   class="btn btn-xs btn-primary mr-2"
												   asp-controller="JobLevel"
												   asp-action="Edit"
												   asp-route-id="@jobLevel.Id"> Edit</a>

												<button type="submit" onclick="return confirmDelete()" class="btn btn-xs btn-danger mr-2">Delete</button>
											</form>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-6 ">
				<div class="card m-2">
					<div class="card-header bluejeans-color text-white align-items-center">
						<div class="row">
							<div class="col-8">
								<h5>Job Titles Management</h5>
							</div>
							<div class="col-4 text-end">
								<div class="dropdown ms-auto btn btn-sm btn-default text-white">
									Actions <i class="fa fa-ellipsis-v mx-2" data-bs-toggle="dropdown" aria-expanded="false"></i>
									<ul class="dropdown-menu">
										<li>
											<a href="@Url.Action("Add", "JobTitle")" class="dropdown-item">
												<i class="fa fa-plus mx-2"></i> New Job Title
											</a>
										</li>
										<li>
											<a href="@Url.Action("List", "JobTitle")" class="dropdown-item">
												<i class="fa fa-list mx-2"></i> List of Job Titles
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<table class="table small" id="adminDashJobTitlesTable">
							<thead>
								<tr>
									<th>Job Title</th>
									<th>Job Category</th>
									<th width="10%">MCQ Tests</th>
									<th width="10%">Passed Tests </th>
								</tr>
							</thead>
							<tbody>
								@foreach (var jobTitle in Model.JobTitles)
								{
									<tr>
										<td>@jobTitle.JobTitleName</td>
										<td>@jobTitle.JobCategoryName</td>
										<td>@jobTitle.TotalMCQTests</td>
										<td>@jobTitle.TotalPassedTests</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<!-- Difficulty Allocation Management-->
				<div class="card m-2">
					<div class="card-header bluejeans-color text-white align-items-center">
						<div class="row">
							<div class="col-8">
								<h5>Difficulty Allocations Management</h5>
							</div>
							<div class="col-4 text-end">
								<div class="dropdown ms-auto btn btn-sm btn-default text-white">
									Actions <i class="fa fa-ellipsis-v mx-2" data-bs-toggle="dropdown" aria-expanded="false"></i>
									<ul class="dropdown-menu">
										<li>
											<a href="@Url.Action("Add", "QuestionDifficultyType")" class="dropdown-item">
												<i class="fa fa-plus mx-2"></i> New Question Difficulty Level
											</a>
										</li>
										<li>
											<a href="@Url.Action("List", "QuestionDifficultyType")" class="dropdown-item">
												<i class="fa fa-list mx-2"></i> List of Question Difficulty Levels
											</a>
										</li>
										<li><div class="dropdown-divider"></div></li>
										<li>
											<a href="@Url.Action("Add", "McqDifficultyType")" class="dropdown-item">
												<i class="fa fa-plus mx-2"></i> New MCQ Difficulty Level
											</a>
										</li>
										<li>
											<a href="@Url.Action("List", "McqDifficultyType")" class="dropdown-item">
												<i class="fa fa-list mx-2"></i> List of MCQ Difficulty Levels
											</a>
										</li>
										<li><div class="dropdown-divider"></div></li>
										<li>
											<a href="@Url.Action("Add", "DifficultyAllocation")" class="dropdown-item">
												<i class="fa fa-plus mx-2"></i> New MCQ Difficulty Allocation
											</a>
										</li>
										<li>
											<a href="@Url.Action("List", "DifficultyAllocation")" class="dropdown-item">
												<i class="fa fa-list mx-2"></i> List of MCQ Difficulty Allocations
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<table class="table small" id="adminDashDiffAllocationsTable">
							<thead>
								<tr>
									<th>MCQ Diff. Type</th>
									<th>Question Diff. Type</th>
									<th>% of Questions/MCQ</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var allocation in Model.DifficultyAllocations)
								{
								<tr>
									<td>@allocation.McqDifficultyTypeName</td>
									<td>@allocation.QuestionDifficultyTypeName</td>
									<td>@allocation.Percentage%</td>
									<td>
										<form asp-controller="DifficultyAllocation" asp-action="Delete" asp-route-id="@allocation.Id" method="post">
											<a asp-area=""
											   class="btn btn-xs btn-primary mr-2"
											   asp-controller="DifficultyAllocation"
											   asp-action="Edit"
												   asp-route-id="@allocation.Id"> <i class="fa fa-edit"></i></a>

												<button type="submit" class="btn btn-xs btn-danger mr-2" onclick="return confirmDelete()"><i class="fa fa-trash"></i></button>
										</form>
									</td>
								</tr>
								}
							</tbody>
						</table>
					</div>
				</div>



			</div>
		</div>
		<div class="card m-2">
			<div class="card-header bluejeans-color text-white align-items-center">
				<div class="row">
					<div class="col-8">
						<h5>MCQ Test Management</h5>
					</div>
					<div class="col-4 text-end">
						<div class="dropdown ms-auto btn btn-sm btn-default text-white">
							Actions <i class="fa fa-ellipsis-v mx-2" data-bs-toggle="dropdown" aria-expanded="false"></i>
							<ul class="dropdown-menu">
								<li>
									<a href="@Url.Action("Add", "MCQ")" class="dropdown-item">
										<i class="fa fa-plus mx-2"></i> New MCQ Test
									</a>
								</li>
								<li>
									<a href="@Url.Action("List", "MCQ")" class="dropdown-item">
										<i class="fa fa-list mx-2"></i> List of MCQ Tests
									</a>
								</li>
								<div class="dropdown-divider"></div>
								<li>
									<a href="@Url.Action("Add", "Question")" class="dropdown-item">
										<i class="fa fa-plus mx-2"></i> New MCQ Question
									</a>
								</li>
								<li>
									<a href="@Url.Action("List", "Question")" class="dropdown-item">
										<i class="fa fa-list mx-2"></i> List of MCQ Question
									</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<table class="table small" id="adminDashMcqTestsTable">
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Job Category</th>
							<th>Job Title</th>
							<th>Job Level</th>
							<th>Questions</th>
							<th>Timing</th>
							<th width="15%">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var test in Model.McqTests)
						{
							<tr>
								<td class="counter1"></td>
								<td>@test.Name</td>
								<td>@test.ThemeName</td>
								<td>@test.JobTitleName</td>
								<td>@test.JobLevelName</td>
								<td>@test.NbQuestions</td>
								<td>@test.Duration</td>
								<td>
									<form asp-controller="MCQ" asp-action="Delete" asp-route-id="@test.Id" method="post">
										<div class="d-inline">
											<a asp-area=""
											   class="btn btn-primary btn-xs mr-2"
											   asp-controller="MCQ"
											   asp-action="Edit"
											   asp-route-id="@test.Id">
												<i class="fa fa-edit"></i>
											</a>
											<button type="submit"
													class="btn btn-danger btn-xs mr-2"
													onclick="return confirmDelete()">
												<i class="fa fa-trash"></i>
											</button>
											<a asp-area=""
											   class="btn btn-secondary btn-xs mr-2"
											   asp-controller="McqQuestion"
											   asp-action="QuestionList"
											   asp-route-mcqId="@test.Id"
											   asp-route-jobTitleId="@test.JobTitleId"
											   asp-route-jobLevelId="@test.JobLevelId">
												Questions
											</a>
										</div>
										
									</form>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<!-- MCQ Test Results Top 10 Section-->
		<div class="card m-2">
			<div class="card-header bluejeans-color text-white align-items-center">
				<div class="row">
					<div class="col-12">
						<h5>Top User Performance Overview</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<table class="table small" id="adminDashTopeScoresTable">
					<thead>
						<tr>
							<th></th>
							<th>User Name</th>
							<th>Country</th>
							<th>Tests Passed</th>
							<th>Average Score</th>
							<th>Overall Performance</th>
							<th>Best Job Category</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model.TopUsersDetails)
						{
							<tr>
								<td class="counter2"></td>
								<td>@user.UserName</td>
								<td>@user.Country</td>
								<td>@user.TestsPassed</td>
								<td>@user.AverageScore.ToString("F2")%</td>
								<td>@user.OverallPerformance.ToString("F2")%</td>
								<td>@user.BestJobCategory</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
		window.onload = function () {
			var counterCells = document.querySelectorAll('.counter');
			for (var i = 0; i < counterCells.length; i++) {
				counterCells[i].innerText = i + 1;
			}
			var counterCells1 = document.querySelectorAll('.counter1');
			for (var i = 0; i < counterCells1.length; i++) {
				counterCells1[i].innerText = i + 1;
			}
			var counterCells2 = document.querySelectorAll('.counter2');
			for (var i = 0; i < counterCells2.length; i++) {
				counterCells2[i].innerText = i + 1;
			}
		};

		function confirmDelete() {
			return confirm("Are you sure you want to delete this item?");
		}
	</script>
