@model MCQInterviews.Models.ViewModels.EditMcqRequest
@{
}

<div class="container py-5">
    @if (TempData["AlertMsg"] != null)
    {
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i>
            @TempData["AlertMsg"]
        </div>
    }
    <div class="card mt-2">
        <div class="card-header">
            <h5 class="text-primary text-primary text-center">Edit MCQ</h5>
        </div>
        <div class="card-body">
            <form method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row mb-3">
                    <div class="form-group col-6">
                        <label asp-for="Name">MCQ Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Description">MCQ Description</label>
                        <textarea asp-for="Description" class="form-control" rows="2" ></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-3">
                        <label asp-for="ThemeId">Select Category</label>
                        <select asp-for="ThemeId" asp-items="@Model.Themes" class="form-control">
                            <option value="">-- Select Theme --</option>
                        </select>
                        <span asp-validation-for="ThemeId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="JobTitleId">Select Job Title</label>
                        <select asp-for="JobTitleId" asp-items="@Model.JobTitles" class="form-control">
                            <option value="">-- Select Job Title --</option>
                        </select>
                        <span asp-validation-for="JobTitleId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="JobLevelId">Select Job Level</label>
                        <select asp-for="JobLevelId" asp-items="@Model.JobLevels" class="form-control">
                            <option value="">-- Select Job Level --</option>
                        </select>
                        <span asp-validation-for="JobLevelId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="DifficultyTypeId">Select Difficulty Type</label>
                        <select asp-for="DifficultyTypeId" asp-items="@Model.DifficultyTypes" class="form-control">
                            <option value="">-- Select Difficulty Type --</option>
                        </select>
                        <span asp-validation-for="DifficultyTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-4">
                        <label asp-for="MCQType">Select Job Level</label>
                        <select asp-for="MCQType" asp-items="@Model.MCQTypeOptions" class="form-control">
                            <option value="">-- Select Type --</option>
                        </select>
                        <span asp-validation-for="MCQType" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.Duration, "Duration (minutes)")
                        @Html.TextBoxFor(m => m.Duration, new { @class = "form-control" , @type="number", @required ="required" })
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.NbQuestions, "Number of Questions")
                        @Html.TextBoxFor(m => m.NbQuestions, new { @class = "form-control", @type="number" , @required ="required" })
                        <span asp-validation-for="NbQuestions" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-primary"><i class="fas fa-sync-alt"></i>  Save Changes</button>
            </form>
        </div>
    </div>
</div>
