@model MCQInterviews.Models.ViewModels.AddDifficultyAllocationRequest
@{
}

<div class="container py-5">
    <div class="card mt-2">
        <div class="card-header">
            <h5 class="text-primary text-primary text-center">Add New Difficulty Allocation</h5>
        </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="row">
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.McqDifficultyTypeId, "Mcq Difficulty Type")
                        @Html.DropDownListFor(m => m.McqDifficultyTypeId, (IEnumerable<SelectListItem>)ViewBag.McqDifficultyTypes, "Select a Difficulty Type", new { @class = "form-control" , @required ="required" })
                        @Html.ValidationMessageFor(m => m.McqDifficultyTypeId)
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.QuestionDifficultyTypeId, "Question Difficulty Type")
                        @Html.DropDownListFor(m => m.QuestionDifficultyTypeId, (IEnumerable<SelectListItem>)ViewBag.QuestionDifficultyTypes, "Select a Difficulty Type", new { @class = "form-control" , @required ="required" })
                        @Html.ValidationMessageFor(m => m.QuestionDifficultyTypeId)
                    </div>

                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.Percentage, "Percentage")
                        @Html.TextBoxFor(m => m.Percentage, new { @class = "form-control" , type="number", @required ="required" })
                        <span asp-validation-for="Percentage" class="text-danger"></span>
                    </div>
                </div>
                

        
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save New Difficulty Allocation</button>
                </div>
            </form>
        </div>
    </div>
</div>

